<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812245002285-on9uj8l4d92qlfhs27btufi0mqbcfltq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812245002285-on9uj8l4d92qlfhs27btufi0mqbcfltq</string>
	<key>API_KEY</key>
	<string>AIzaSyCm_3p8Z5-nwDg2jjr0MrX7EEWv1SmSCfg</string>
	<key>GCM_SENDER_ID</key>
	<string>812245002285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.6430047.Cooking-Instruction-App</string>
	<key>PROJECT_ID</key>
	<string>cooking-instruction-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cooking-instruction-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812245002285:ios:3972491a4c103ab009f0a4</string>
</dict>
</plist>